server:
  port: 8082

spring:
  application:
    name: handiops-backend
  
  # Database Configuration
  datasource:
    driver-class-name: org.postgresql.Driver
    # FIX 1: Use 'postgres' service name instead of localhost
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://postgres:5432/handiops}
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:anwar36flow}
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  
  security:
    oauth2:
      client:
        registration:
          keycloak:
            client-id: handiOps-backend
            client-secret: NC8aCfsc6crJDk4Qdoz4q8p3AT4uwDFg
            scope: openid, profile, email, roles
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
        provider:
          keycloak:
            # Browser uses this (Public URL)
            authorization-uri: http://localhost:8083/realms/handiOps-realm/protocol/openid-connect/auth
            # Backend uses this (Docker Internal URL) -> FIX 2
            token-uri: http://keycloak:8080/realms/handiOps-realm/protocol/openid-connect/token
            user-info-uri: http://keycloak:8080/realms/handiOps-realm/protocol/openid-connect/userinfo
            jwk-set-uri: http://keycloak:8080/realms/handiOps-realm/protocol/openid-connect/certs
            user-name-attribute: preferred_username
      resourceserver:
        jwt:
          # Backend verifies token signature internally -> FIX 3
          jwk-set-uri: http://keycloak:8080/realms/handiOps-realm/protocol/openid-connect/certs
          # Keep issuer as localhost because the token was issued to the browser by localhost
          issuer-uri: http://localhost:8083/realms/handiOps-realm

jwt:
  refresh-token-expiration: 604800000

# Custom Keycloak Config (Used by your KeycloakAuthService)
keycloak:
  realm: handiOps-realm
  # FIX 4: CRITICAL! Backend needs internal URL to call Keycloak API
  auth-server-url: http://keycloak:8080
  resource: handiOps-backend
  credentials:
    secret: Oqtm4LQ6GQABpmFeGY7XP5c4JJcRwa1o
  use-resource-role-mappings: true
  bearer-only: falseC